.App {
  background-color: #000;
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
  display: block;
}

.active-filter {
  background-color: aquamarine;
  margin: 5px;
  border-radius: 5px;
}

.is-done {
  opacity: 0.5;
}


