.todolistClass {
    /*border: 3px solid aquamarine;*/
    padding: 10px;
    max-height: 330px;
}

.todolistItemsWrapper {
    overflow: scroll;
    max-height: 150px;
}

.allItems {
    list-style-type: none;

}

.allItemsInput {
    margin-bottom: 10px;
    width: 15px;
    height: 15px;
    left: 20px
}

.todolistHeader {
text-transform: uppercase}

.todolistXBtn {
    color: red;
    font-weight: bold;
    margin-left: 10px;
    background: none;
    font-size: 18px;
}

.btnFilterClasses {
    margin: 3px;
    border-radius: 5px;
}
